body{
    background: linear-gradient(
        135deg,
        #0f9b63,
        #33d9a6
    );
    min-height: 100vh;
}

.register-card{
    border: none;
    border-radius: 20px;
}

.form-control{
    height: 50px;
    border-radius: 10px;
}

.register-btn{
    background: linear-gradient(
        90deg,
        #198754,
        #20c997
    );

    border: none;
    color: white;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
}

.register-btn:hover{
    transform: translateY(-2px);

    box-shadow:
        0 8px 20px rgba(0,0,0,.15);

    color: white;
}

.form-check-input{
    width: 20px;
    height: 20px;
}

.form-check-label{
    margin-left: 8px;
}